* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
	font-family: cursive;
}
section{
	padding-bottom: 5%;}

h1{
	font-size: 32pt;
	line-height: 36pt
}
/*----HOME section STARTS---*/
#home{
	min-height: 100vh;
	position: relative;
	background: #252934;
	color: #fff;
 }
	#home .container {
	  text-align: center;
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	}
	#home .container div{

	}
	#home .container div a{
			text-decoration: none;
    		font-size: 24pt;
    		color: #fff;
	}
	#home .container div a:hover{
			color: #04C2C9;
	}
	#home .container div a i{
			position: absolute;
		    padding-top: 12%;
		    transform: translateX(-50%);
		    left: 50%;
	}
/*----HOME section ENDS---*/

/*----NAVBAR section STARTS---*/
nav.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #1B242F;
  border-bottom: 3px solid #04C2C9;
  z-index: 2;
}
	nav .container{
		display: flex;
		align-items: center;
	}
		nav .container .nav-item{
			padding-right: 40px;
		}
			nav .container .nav-link{
				text-decoration: none;
				text-transform: uppercase;
				color: #ffffff !important;
			}
			nav div .nav-link:hover{
			    color: #04C2C9 !important;
			}
/*----NAVBAR section END---*/

/*----GLOBAL HEADING STARTS---*/
section .heading{
	padding: 5% 0;
}
	section .heading h1{
		text-align: center;
		text-transform: uppercase;
		font-weight: 600;
	}
/*----GLOBAL HEADING END---*/

/*----ABOUT section STARTS---*/
#about .col-lg-3{
	text-align: center;
}
	#about .col-lg-3 div i{
		background: #04C2C9;
		border-radius: 50%;
		padding: 15px;
		font-size: 28pt;
		color: #fff;
	}
	#about .col-lg-3 h3{
		font-size: 18pt;
		font-weight: 600;
		padding-top: 30px;
	}
	#about .col-lg-3 p{
		font-size: 12pt;
	}
	#about span{
		padding: 2% 0;
	}

	#about .col-md-6 h2{
		font-size: 22pt;
		font-weight: 600;
	}
	.progress{
	height: 1.5rem;
	margin-bottom: 20px;
		}
		.progress-bar{
			padding-left: 10px;
			text-align: start;
			font-size: 12pt;
			background: #04C2C9;
		}
			.progress p{
				margin-left: auto;
				padding-right: 5px;
			}
/*----ABOUT section END---*/


/*----SERVICE section STARTS---*/
#service{
	background: #F5F5F5;
}
#service .col-lg-4{
	margin: 12px 0px 13px;
}
	#service .col-lg-4 div{
		background: #04C2C9;
		border-radius: 10px;
		padding: 20px; 
		text-align: center;
	}
		#service .col-lg-4 div i{
			font-size: 32pt;
		}
		#service .col-lg-4 div h3{
			font-weight: 600;
			color: #fff;
		}
		#service .col-lg-4 div p{

		}
/*----SERVICE section END---*/

/*----PROJECT section STARTS---*/
#project .col-lg-4 div{
		height: 500px;
		background-position-y: 0%;
		background-size: cover;
		position: relative;
		overflow: hidden;
		margin-bottom: 25px;
}
#project .col-lg-4 div:hover{
	background-position-y: 100%;
	transition: all 1.5s linear;
}
.overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #00000044;
}
.overlay:hover{
	background: #000000a1;
	transition: all 0s ease !important;
}
	.overlay .description{
		text-align: center;
		color: #fff;
		padding-top: 50%;
		opacity: 0; 
	}
	.overlay .description:hover{
		opacity: 1;
		transition: all 0s ease !important;
	}
		.overlay .description h3{
			font-weight: 600;
		}
		.overlay .description p{
			font-size: 20px;
		}

/*----PROJECT section END---*/

/*----FEEDBACK section STARTS---*/
#feedback{
	background: #F5F5F5;
}
.swiper-wrapper{
	margin-bottom: 60px;
}
	.swpr_img{
		padding-right: 3%;
	}
		.swpr_img img{
			border-radius: 50%;
		}
		.swiper-slide .d-flex div h5{
			font-weight: 600;
		}
#feedback .row {
	padding-top: 3%;
}
	#feedback .row .col-sm-4 .d-flex{
		background: #fff;
		color: #000;
		justify-content: center;
		border-radius: 10px;
		margin: 0 35px;
		padding: 25px 0 15px;
	}
		#feedback .row .col-sm-4 .d-flex i{
			font-size: 44pt;
			color: #04C2C9;
			padding-right: 4%; 
		}
		#feedback .row .col-sm-4 .d-flex div h4{
			font-weight: 600;
		}
		#feedback .row .col-sm-4 .d-flex div p{
		}
/*----FEEDBACK section END---*/

/*----START section STARTS---*/
#start{
	background: url(../images/bh.jpg);
	background-repeat: no-repeat;
	height: 500px;
	position: relative;
	overflow: hidden;
	background-size: cover;
	background-attachment: fixed;
}
	#start .container{
		color: #fff;
	}
		#start .overlay2{
			background: #000c;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
		#start .container h1{
			padding-top: 160px;
		}
		#start .container p{
			padding: 10px 0 13px;
		}
		#start .container a{
			text-decoration: none;
			text-transform: uppercase;
			padding: 8px 25px;
			border: 2px solid #fff;
			background: #0000;
			color: #fff; 
		}
		#start .container a:hover{
			background: #fff;
			color: #000;
		}
/*----START section END---*/

/*----BLOG section STARTS---*/
#blog a{
	text-decoration: none;
	color: #000;
}
	#blog a h4{
		font-size: 16pt;
		font-weight: 700;
		padding-top: 12px;
	}
	#blog a div{
		font-size: 10pt;
		margin: 0 0 15px;
	}
	#blog a p{
		font-size: 11pt;
	}
/*----BLOG section END---*/

/*----CONTACT section STARTS---*/
#contact{
	background: #252934;
	padding-bottom: 3% 
}
#contact .heading{
	text-align: center;
	margin: 0;
	color: #fff;
	padding: 5% 0 2%;
}
	#contact form{
		max-width: 500px;
		margin: auto;
	}
	#contact form div{
		margin: 10px 0;
	}
	#contact .form-control{
		border: none; 
		background: #1E242C;
		color: #fff;
	}
	#contact button{
		text-transform: uppercase;
		padding: 8px 25px;
		border: 2px solid #fff;
		background: #0000;
		color: #fff; 
	}
	#contact button:hover{
		background: #04C2C9;
		border: 2px solid #04C2C9;
	}
/*----CONTACT section END---*/

/*----FOOTER section STARTS---*/
#footer{
	background: #1B242F;
	padding: 4% 0 1%;
}
#footer .container a{
	text-decoration: none;
	color: #fff;
}
#footer .container div a div{
	font-size: 24px;
	background: #262f38;
	margin: 0 15px;
	padding: 10px 16px; 
}
#footer .container div a div:hover{
	background: #04C2C9;
}
#footer .container p{
	color: #fff;
	margin-top: 3%;
}
.gotop{
	margin: -6% 0 6%;
}
.gotop a i{
	padding: 10px 8px;
	background: #04C2C9;
	font-size: 30px;
}
.gotop a i:hover{
	background: ;
	color: #000;
}

/*----FOOTER section ENDS---*/

/*---- RESPONSIVE PART STARTS---*/
@media (max-width: 991px){
		nav .container .nav-item{
				padding-right: 15px;
				font-size: 14px
			}
		h1{
			font-size: 28pt;
			}
			#feedback .row .col-md-4 .d-flex{
				margin: 0;
			}
		#about .col-md-6 p{
			font-size: 14px;
		}
}

@media (max-width: 767px){
		nav .container .nav-item{
				padding-right: 0px;
			}
		h1{
			font-size: 28pt;
			}
		#feedback .row .col-md-4 .d-flex{
				margin: 0;
				padding: 15px;
			}
		.swiper-slide div{
			display: block !important;
			text-align: center;
		}
}

@media (max-width: 575px){
		body{
			text-align: center;
		}
		#feedback .row .col-sm-4{
			margin-bottom: 3%;
		}
		h1{
			font-size: 24pt;
		}
		#about .col-lg-3{
			order: 2;
		}
}
/*----RESPONSIVE PART END---*/
